.home {
  background-color: #00B0FF;
  ion-card {
    ion-card-header {
      color: #616161;
    }
  }
  .video-overlay {
    height: calc(100% - 44px);
    width: 100%;
    position: fixed;
    top: 44px;
    z-index: 10;
    background-color: black;

    ion-icon {
      font-size: 3em;
      position: absolute;
      right: 12px;
      top: -44px;
    }
    video {
      width: 100%;
      padding-top: 44px;
      position: fixed;
      top: 50%;
      transform: translate(0%, -50%);
    }
  }
}
